/* .footer {
  position: absolute;
  border-top: 0;
  background-color: #002e63;
  color: rgb(136, 4, 4);
  text-align: center;
  padding: 10px 0;
  position: center;
  bottom: 0;
  width: 100%;
}*/


.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  font-size: 3px;
  width: 100%;
  justify-content: space-between;
  padding: 20px;
  margin-top: 40px;
  border-top: 1px solid white;
  background-color: rgb(100, 146, 96);
  border-radius: 8px;
  color: rgb(0, 0, 0);
}